body {
    background-color: #F2F2F2;
}

.main-container {
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
}

    .main-container .page {
        background-color: #FFFFFF;
        height: 100vh;
    }

.page .page-header {
}

.page .page-content {
    background-color: azure;
    height: 400px;
}

.page .page-footer {
    background-color: burlywood;
    height: 150px;
}

.top-nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
    border: none;
    margin: 0px;
    padding: 25px;
}

    .top-nav .brand-logo {
        float: left;
        font-size: 18px;
        line-height: 20px;
        margin-right: 24px;
    }

    .top-nav a {
        float: left;
        color: #40433e;
        text-transform: uppercase;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 16px;
    }

        .top-nav a:hover,
        .top-nav a.active {
            font-weight: bold;
        }
